Source: pharos-release-station
Section: debathena/extra
Priority: extra
Maintainer: Jonathan Reed <jdreed@mit.edu>
Build-Depends: debhelper (>= 7.0.50~), python-support
Standards-Version: 3.9.3

Package: pharos-release-station
Architecture: all
Depends: gir1.2-gtk-3.0, gir1.2-glib-2.0, 
	 python, python-gobject, 
	 python-pam,
	 python-omega,
	 python-magtek,
	 zenity,
	 ${misc:Depends}, ${python:Depends}
Description: Pharos Release Station
 A pharos release station
